<div class="modal-header">
  <h1>
    Numbers - Login
    <a href class="close pull-right" ng-click="$ctrl.cancelClicked()">&times;</a>
  </h1>
</div>
<div class="modal-body">
  <form ng-submit="$ctrl.loginFormSubmitted()">
    <label>Username</label>
    <input ng-model="$ctrl.username" type="text">
    <label>Password</label>
    <input ng-model="$ctrl.password" type="password">
    <button class="btn btn-primary" type="submit" ng-disabled="!$ctrl.username || !$ctrl.password">Login</button>
  </form>
</div>